{% extends 'base.html' %} {% load static %} {% block content %} {% load crispy_forms_tags %}



<div class="Employee">

    <div class="title_f">

        <span>
            Üyelik Bilgilerim
        </span>

        <a href="#">Hesabımı Kapat</a>
    </div>

    <ul>


        <li>
            <span>
            Kullanıcı Adı 
        </span>
            <div>
                {{request.user.username}}
            </div>
        </li>
        <li>
            <span>E-Mail</span>
            <div>
                {{request.user.email}}
            </div>

        </li>
        <li>

            <span>Cep Telefonu</span>
            <div>
                {{request.user.profile.phone}}
            </div>
        </li>
        <li>
            <span>Dogum Tarihiniz</span>
            <div>

                {% if request.user.profile.birthday %} {{request.user.profile.birthday}} {% endif %}

            </div>
        </li>
        <li>
            <span>Cinsiyet</span>
            <div>
                {% if request.user.profile.gender == "female" %} Kadın {% endif %} {% if request.user.profile.gender == "male" %} Erkek {% endif %}


            </div>
        </li>
    </ul>

    <div class="options_btn">


        <a href="/change_password" class="changepassword_a">Şifre Güncelleme </a>
        <a href="/update_profile" class="update_userInfoBtn ">Profil Güncelle </a> {% endblock content %} {% block css %}


    </div>



</div>


<link rel="stylesheet" href="{% static 'css/account.css' %}"> {% endblock css %} {% block script %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock script %}