{% extends 'base.html' %} {% load static %} {% block content %}


<div class="emp2">

    <div class="form-wrapper">


        <form method="POST" class="form2">

            {% csrf_token %} {{form}}


            <button type="submit" id="updatepasswordBtn">Parola Güncelle  </button>


        </form>


    </div>

</div>




{% endblock content %} {% block css %}

<link rel="stylesheet" href="{% static 'css/change_password.css' %}"> {% endblock css %} {% block script %}


<script>
    $(function() {

        var label1 = $("label[for=id_old_password]")
        var label2 = $("label[for=id_new_password1]")
        var label3 = $("label[for=id_new_password2]")


        label1.html("Eski Parola ")
        label2.html("Yeni Parola ")
        label3.html("Yeni Parola Onayı")
    })
</script>

{% endblock script %}