{% extends "base.html" %} {% load static %} {% block title %} Siparişlerim {% endblock title %} {% block css %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
<link rel="stylesheet" href="{% static 'css/comment.css' %}"> {% endblock css %} {% block content %} {% include "includes/addproductalert.html" %} {% if orders %}


<div class="top_title">
    <h4>Siparişlerim </h4>
</div>
{% endif %}




<div class="right_sidebar">

    <div class="close_side">
        <img src="https://img.icons8.com/windows/32/000000/multiply.png" />
    </div>

    <div class="side_wrapper">

        <div class="getcommentalert">
            <img src="https://img.icons8.com/cotton/64/000000/checked--v3.png" />
            <br>
            <h2>
                Değerlendirmenizi aldık
            </h2>
        </div>
        <div class="productİnfo_emp">
            <div class="mex-ProducImg">
                <img src="" alt="">
            </div>

            <div class="mex-ProductSec2">
                <b class="com_title">
                </b>
                <div class="mex-evaluate">
                    <span>
                        <i class="fas fa-star"></i>
                        <span>  </span>
                    </span>
                    <div>
                        <b>
                           -    {{comments|length}}
                        </b>
                        <span>
                            Degerlendirme

                        </span>
                    </div>

                </div>
                <div class="mex-size-color">

                    <div>
                        <span>
                            Beden

                        </span>
                        <b class="side_chooseSize">
                        </b>
                        <label>
                            ●
                        </label>
                    </div>


                    <div>

                        <span>
                            Renk
                        </span>
                        <b class="side_chooseColor">
                        </b>
                    </div>

                </div>


            </div>

        </div>


        <div class="comment_field" action="/addComment/">

            {% csrf_token %}
            <span>Ürünü Degerlendirin</span><br>
            <div class="Ratings_star">
                <i class="fas fa-star" data-rate="1"></i>
                <i class="fas fa-star" data-rate="2"></i>
                <i class="fas fa-star" data-rate="3"></i>
                <i class="fas fa-star" data-rate="4"></i>
                <i class="fas fa-star" data-rate="5"></i>
                <br>
            </div>
            <span>Ürün hakkındaki düşünceleriniz</span>
            <textarea name="comment_content" id="comment_content"></textarea>

            <small>
                Yorumlarınız 
                <a href="#">
                    Aydınlatma Metni’nde
                </a>
                belirtilen kapsamda işlenmektedir.
            </small>
            <button data-productid="" type="button" class="commentBtn">Yorum Yap </button>
        </div>


    </div>

</div>




<div class="Employee">


    {% if orders %} {% for order in orders %}
    <div class="month-title">
        <h3>{{order.dateOrdered|date:"F"}}</h3>
    </div>

    <div class="order_emp">

        <div class="order_top">
            <div class="sec-1">
                <div class="order_imgs">

                    {% for item in order.orderitem_set.all|slice:"0:3" %}
                    <img src="{{item.product.image.url}}" alt=" {{item.product.title}}" width="35"> {% endfor %}



                </div>

                <div class="order_date_transaction">

                    <div class="order_transaction">
                        <span>
                            Sipariş no : 
                        </span>
                        <b>
                            {{order.transaction_id|floatformat:0}}
                        </b>

                    </div>
                    <div class="order_date">
                        {{order.dateOrdered|date:"j F D, H:m"}}
                    </div>
                </div>
            </div>
            <div class="sec-2">
                <div class="order_loading">
                    <span>
                    Siparişiniz hazırlanıyor 
                    </span>
                    <div class="load">

                    </div>
                </div>

                <div class="order_payment">

                    <div class="order_total">
                        {{order.get_cart_total}} <small>TL </small>
                    </div>
                    <span>Kredi Kartı</span>

                </div>

                <i class="fas fa-chevron-down"></i>


            </div>




        </div>


        <div class="order_bottom">

            <div class="product_emp">

                {% for item in order.orderitem_set.all %}


                <div class="order_product">

                    <div class="product_img">

                        {% if item.quantity > 1 %}


                        <span class="item_quantity">
                           x {{item.quantity}}
                        </span> {% endif %}


                        <img src="{{item.product.image.url}}" alt="{{item.product.title}}" width="50">
                    </div>
                    <div class="product_info">

                        <div class="product_title">
                            <a href="/product/{{item.product.slug}}">
                                {{item.product.title}}
                            </a>
                        </div>

                        <div class="product_seller">
                            <span>
                                Satıcı :
                            </span>
                            <a href="/brand-product-list/{{item.product.brand.slug}}">
                                    {{item.product.brand|title}} 
                            </a>
                            <div class="chooseEmp">

                                {% if item.chooseSize %}

                                <div class="chooseSize">
                                    {{item.chooseSize}}

                                </div>


                                <span>
                                -
                            </span> {% endif %} {% if item.chooseColor %}

                                <div class="chooseColor">
                                    {{item.chooseColor|title}}
                                </div>
                                {% endif %}
                            </div>


                        </div>
                        <div class="product_price">

                            <span>
                                {{item.product.price}} <small>TL</small>
                            </span>
                        </div>

                        <button type="submit" data-size={{item.product.size.all.first}} data-color={{item.product.color.all.first}} data-action="add" data-product="{{item.product.id}}" class="sepetekleBtn  add-btn update-cart">   Tekrar Al</button>


                        <div class="evaluateBtn " data-id="{{item.product.id}}">
                            {% csrf_token %}
                            <i class="fas fa-comments"></i> <span> Ürünü degerlendir </span>

                        </div>


                    </div>


                </div>

                <br> {% endfor %}

            </div>


            <div class="addrspymnt">

                {% for adres in order.shippingaddres_set.all %}

                <div class="order_address">

                    <h6 class="address_title"> Adres Bilgileri</h6>

                    <div class="delivery_address">

                        <h6>Teslimat Adresi </h6>
                        <div>
                            <span>
                                {{adres.address}} 
                            </span>
                        </div>
                        <span>
                            {{adres.neighborhood}}/  {{adres.state}}  /{{adres.city}} 
                         </span>
                        <br>

                        <b>{{request.user.username|title}} - 
                            
                         
                            
                            <span>{{request.user.profile.phone}}</span>
                        
                        
                        </b>


                    </div>

                    <div class="billing_address">
                        <h6>Fatura Bilgileri </h6>
                        <div>
                            <span>
                                {{adres.address}} 
                            </span>
                        </div>
                        <span>
                            {{adres.neighborhood}}/  {{adres.state}}  /{{adres.city}} 
                        </span>
                        <br>

                        <b>{{request.user.username|title}} -  
                            <span>{{request.user.profile.phone}}</span>
                        </b>

                    </div>

                </div>
                {% endfor %}

                <div class="payment_info">

                    <h6 class="mt-4">Ödeme Bilgileri </h6>
                    <div class="cargo">

                        <span>Kargo</span>
                        <span>Bedava</span>
                    </div>

                    <div class="net_total">
                        <span>Genel Toplam </span>
                        <h6>
                            {{order.get_cart_total}} <small>TL</small>
                        </h6>
                    </div>

                </div>

            </div>

        </div>






    </div>
    {% endfor %} {% else %}


    <div class="notorderEmp">
        <img src="/media/global/zeppelin.png" alt="">


        <h4>

            Hiç siparişin yok ama <br> şimdi alışverişe başlamak için çok güzel bir an…
        </h4>

        <p>
            HepsiOrada’da binlerce ürün seni bekliyor

        </p>


        <a href="/">Alışverişe Başla </a>



    </div>


    {% endif %}



</div>

{% endblock content %} {% block script %}
<script src="{% static 'js/carta.js'  %}"></script>
<script src="{% static 'js/order.js'  %}"></script>
<script src="{% static 'js/comment.js'  %}"></script>


{% endblock script %}