{% extends 'base.html' %} {% block title %}Parolanımı unuttun ?{% endblock title %} {% block content %} {% load static %}





<div class="emp2">

    <h2 class="logo_h">
        <a href="/">
            HepsiOrada
        </a>
    </h2>

    <div class="form-wrapper">
        <a href="{% url 'login' %}">
            <i class="fas fa-arrow-left icon6"></i>
        </a>

        <div class="form-head">



            <h3>Şifre yenileme</h3>

            <p>
                Şifre yenileme bağlantısını gönderebilmemiz için e-posta adresinize ihtiyacımız var.
            </p>

        </div>

        <form method="POST" class="form2">
            <div class="emailerror">
                <i class="fas fa-times icon7 "></i>
                <h6>
                    Bu e-posta adresine ait bir hesap bulunmamaktadır.

                </h6>
                <p>

                    Lütfen kontrol edip tekrar deneyin.
                </p>

            </div>
            {% csrf_token %} {{form}}
            <i class="fas fa-exclamation-triangle icon1"></i>


            <button type="button" id="continueBtn">Devam Et  </button>


        </form>


    </div>

</div>






{% endblock content %} {% block css %}

<link rel="stylesheet" href="{% static 'css/password_reset.css' %}"> {% endblock css %} {% block script %}

<script src="{% static 'js/password_reset.js'%}"></script>

{% endblock script %}