 {% extends 'base.html' %} {% load static %} {% block content %}


<div class="emp2">


    <div class="form-wrapper">

        <h3 class="text_topw">Yeni parola oluştur </h3>
        {% if validlink %}


        <form method="POST" class="form2">

            {% csrf_token %} {{form}}


            <button type="submit" id="updatepasswordBtn">Parola Degiştir  </button>


        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>


        {% endif %}

    </div>

</div>




{% endblock content %} {% block css %}

<link rel="stylesheet" href="{% static 'css/change_password.css' %}"> {% endblock css %} {% block script %}


<script>
    $(function() {

        var label2 = $("label[for=id_new_password1]")
        var label3 = $("label[for=id_new_password2]")


        label2.html("Yeni Parola ")
        label3.html("Yeni Parola Onayı")
    })
</script>

{% endblock script %}