.emp2 {
    width: 100%;
    height: 850px;
    position: relative;
    margin-top: -30px !important;
}

.emp2 .form-wrapper {
    border: #eee solid 2px;
    border-radius: 8px;
    margin: 0 auto;
    width: 600px !important;
    position: relative !important;
    height: auto;
    padding: 2.9rem;
    padding-top: 3rem;
}

.form input,
.form textarea {
    padding: 16px 21px;
    border-radius: 12px;
    background-color: #eee;
    border: 2px solid #eee;
    transition: 175ms ease;
    width: 100%;
    outline: 0;
    margin-bottom: 9px;
}

.form {
    position: relative;
}

.form input:hover,
.form textarea:hover {
    background-color: rgba(238, 238, 238, 0.4) !important;
    border: 2px solid #eee;
}

.form input:focus,
.form textarea:focus {
    border: 2px solid #FF6000;
    box-shadow: none !important;
    background-color: white !important;
    color: black !important;
}

.danger::-webkit-input-placeholder {
    color: red
}

.danger {
    color: red;
}

.form button {
    width: 100%;
    background-color: #FF6000;
    border: none;
    padding: 16px 21px !important;
    color: white;
    font-weight: 550;
    font-size: 1.1rem;
    transition: 350ms ease;
    border-radius: 12px;
    outline: 0;
    margin-top: 2rem;
}

.form button:focus {
    background-color: #cf5508 !important;
    outline: 0;
}

.form button:hover {
    background-color: #cf5508 !important;
}

.helptext ul {
    list-style-type: none;
    font-size: 0.7rem;
    color: rgba(117, 117, 117, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0 !important;
}

.errorlist {
    list-style-type: none;
    background-color: rgba(245, 77, 77, 0.8);
    padding: 10px 15px;
    font-size: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    padding-left: 15px !important;
    border-left: 7px rgb(252, 63, 63) solid;
}

.form label {
    font-weight: bold !important;
    margin: 10px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.text_topw {
    color: #FF6000;
    margin-bottom: 25px;
}

.top-info {
    color: #2c2c2c;
    font-size: 1rem;
    width: 600px;
    margin: 1rem auto;
    font-family: 'Mukta';
    margin-top: -50px;
}

.info_t {
    position: relative;
    width: 100%;
}