.emp-header {
    display: none;
}

.emp2 {
    width: 100%;
    height: 650px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.form-wrapper h4 {
    margin-bottom: 35px;
    font-size: 1.3rem;
    margin-left: 5px;
    opacity: 0.9;
}

h2.logo_h {
    margin-bottom: 4rem;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 4px;
}

h2.logo_h a {
    text-decoration: none;
    color: #f15d00;
}

.emp2 .form-wrapper {
    border: #eee solid 2px;
    border-radius: 8px;
    margin: 0 auto;
    width: 500px !important;
    height: 520px;
    padding: 4.9rem;
    padding-top: 3rem;
}

.form-header {
    background-color: #eee;
    margin-bottom: 3rem;
    display: flex;
    color: black;
    font-weight: 550;
    justify-content: space-between;
    border-radius: 8px;
    padding: 3px 4px;
}

.form-header span {
    background-color: #eee;
    text-align: center;
    width: 49%;
    padding: 12px 7px;
    height: 100%;
    border-radius: 7px;
}

.form-header span:first-child {
    background-color: white;
    text-align: center;
    width: 49%;
    padding: 12px 7px;
    height: 100%;
    border-radius: 7px;
}

form input {
    padding: 16px 21px;
    border-radius: 12px;
    background-color: #eee;
    border: 2px solid #eee;
    transition: 175ms ease;
    width: 100%;
    outline: 0;
}

form {
    position: relative;
}

form i.icon1 {
    color: rgb(255, 111, 111);
    font-size: 1.4rem;
    position: absolute;
    top: 18px;
    right: 11px;
    visibility: hidden;
}

form i.icon2 {
    color: rgb(82, 82, 82);
    font-size: 1.4rem;
    position: absolute;
    bottom: 161px;
    right: 11px;
    visibility: visible;
}

form i.icon3 {
    color: rgb(82, 82, 82);
    font-size: 1.4rem;
    position: absolute;
    bottom: 161px;
    right: 11px;
    visibility: hidden;
}

form input:hover {
    background-color: rgba(238, 238, 238, 0.4) !important;
    border: 2px solid #eee;
}

form input:focus {
    border: 2px solid #FF6000;
    box-shadow: none !important;
    background-color: white !important;
    color: black !important;
}

#id_email {
    margin-bottom: 0.3rem;
}

#id_password {
    margin-bottom: 0.3rem;
    margin-top: 1.5rem;
}

form small {
    color: rgb(251, 111, 111);
    visibility: visible;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px 0px 20px 15px;
    font-size: 12px;
    letter-spacing: 0.6px;
}

.danger::-webkit-input-placeholder {
    color: red
}

.danger {
    color: red;
}

form label {
    display: none;
}

form button#loginBtn {
    width: 100%;
    background-color: #FF6000;
    border: none;
    padding: 16px 21px !important;
    color: white;
    font-weight: 550;
    font-size: 1.1rem;
    transition: 350ms ease;
    border-radius: 12px;
    outline: 0;
    margin-top: 2rem;
}

form button#loginBtn:focus {
    background-color: #cf5508 !important;
    outline: 0;
}

form button:hover {
    background-color: #cf5508 !important;
}

.forget_p {
    color: #FF6000;
}

.forget_p a {
    color: #FF6000;
    text-decoration: none;
    transition: 350ms ease;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.forget_p a:hover {
    color: #da5605;
}