.emp-header {
    display: none;
}

.emp2 {
    width: 100%;
    height: 680px;
    position: relative;
}

.form-wrapper h4 {
    margin-bottom: 35px;
    font-size: 1.3rem;
    margin-left: 5px;
    opacity: 0.9;
}

h2.logo_h {
    margin-bottom: 4rem;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 4px;
}

h2.logo_h a {
    text-decoration: none;
    color: #f15d00;
}

.emp2 .form-wrapper {
    border: #eee solid 2px;
    border-radius: 8px;
    margin: 0 auto;
    width: 500px !important;
    position: relative !important;
    height: auto;
    padding: 4.9rem;
    padding-top: 3rem;
}

form input {
    padding: 16px 21px;
    border-radius: 12px;
    background-color: #eee;
    border: 2px solid #eee;
    transition: 175ms ease;
    width: 100%;
    outline: 0;
    margin-bottom: 9px;
}

form {
    position: relative;
}

form input:hover {
    background-color: rgba(238, 238, 238, 0.4) !important;
    border: 2px solid #eee;
}

form input:focus {
    border: 2px solid #FF6000;
    box-shadow: none !important;
    background-color: white !important;
    color: black !important;
}

form small {
    color: rgb(251, 111, 111);
    visibility: visible;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7px 0px 20px 15px;
    font-size: 12px;
    letter-spacing: 0.6px;
}

.danger::-webkit-input-placeholder {
    color: red
}

.danger {
    color: red;
}

form label {
    display: none;
}

.form-head h3 {
    color: rgb(105, 105, 105);
    letter-spacing: 1px;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
    margin-top: 45px;
}

.form-head p {
    line-height: 23px;
    font-size: 0.9rem;
    color: rgb(78, 78, 78);
    margin-bottom: 2.3rem;
}

form button {
    width: 100%;
    background-color: #FF6000;
    border: none;
    padding: 16px 21px !important;
    color: white;
    font-weight: 550;
    font-size: 1.1rem;
    transition: 350ms ease;
    border-radius: 12px;
    outline: 0;
    margin-top: 2rem;
}

form button:focus {
    background-color: #cf5508 !important;
    outline: 0;
}

form button:hover {
    background-color: #cf5508 !important;
}

form .icon1 {
    position: absolute;
    top: 19px;
    right: 11px;
    font-size: 1.3rem;
    color: rgb(122, 122, 122);
    display: none;
}

.icon6 {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.5rem;
    color: rgba(173, 173, 173, 0.7);
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 10px;
}

.emailerror {
    display: none;
    width: 100%;
    padding: 1.8rem;
    padding-left: 2rem;
    background-color: #F9000014;
    margin-bottom: 18px;
    height: 120px;
    border-left: 8px solid red;
    border-radius: 8px;
    padding-right: 2.5rem;
}

.emailerror h6 {
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.emailerror p {
    font-size: 0.9rem;
}

.emailerror i.icon7 {
    position: absolute;
    top: 12px;
    right: 20px;
    opacity: 0.4;
}