.container {
    position: relative;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 750px) {
    .products-emp {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
    .Product {
        width: 75%;
        height: 400px;
        text-decoration-line: none;
        color: black;
        position: relative;
        z-index: 98;
        margin: 1rem auto;
    }
}

@media only screen and (min-width: 750px) {
    .products-emp {
        position: relative;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
    .Product {
        width: 270px;
        height: 400px;
        text-decoration-line: none;
        color: black;
        position: relative;
        z-index: 98;
        margin: 1rem;
        margin-right: 3rem;
    }
}

.Product:hover {
    text-decoration-line: none;
    color: black;
}

.product-image {
    padding-top: 9px;
    height: 250px;
    width: 85%;
    margin-bottom: 6px;
    position: relative;
}

.product-image img {
    width: 100%;
    height: 100%;
    z-index: 1 !important;
}

.product-info {
    padding: 5px;
    height: 130px;
    width: 100%;
    position: relative;
}

.p-brand {
    font-weight: bold;
    opacity: 0.9;
}

.p-title {
    color: #989898;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    height: 22px !important;
    display: block;
    flex-wrap: nowrap;
    margin-top: 6px;
    overflow: hidden;
    letter-spacing: -.25px;
    text-overflow: ellipsis;
}

.product-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.product-price small {
    padding-left: 2px;
    font-weight: bold;
}

.product-price .price {
    display: flex;
    border-left: rgb(175, 173, 173) solid 1px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    margin-right: 1rem;
    font-weight: bold;
}

.product-price .oldprice {
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(73, 73, 73);
}

.product-price .price span {
    font-size: 11px;
}

.product-price .price .total {
    color: #FF6600;
    font-weight: 600;
    font-size: 1.1rem;
}

.delete {
    position: absolute;
    top: 2px;
    right: 6px;
    z-index: 99;
    font-size: 1.2rem;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 4px 10px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
    color: rgb(189, 189, 189);
}

.popup-emp {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    visibility: hidden;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 300px;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    z-index: 99;
}

.popup .popup-txt {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1.9rem;
    opacity: 0.7;
    margin-top: 1.6rem;
}

.popup .btns {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.popup .btns button {
    width: 48%;
    height: 40px;
    outline: 0;
    border: none;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup .btns .deleteBtn {
    border: 1px solid rgb(117, 117, 117);
    font-size: 1rem;
}

.popup .btns .backBtn {
    background-color: #FF6600;
    border: 1px solid #FF6600;
    color: white;
}

.banner {
    background: rgb(239, 50, 49);
    width: 100%;
    height: 350px;
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 3rem;
}

.heart-img {
    width: 320px;
    height: 100%;
    position: relative;
}

.heart-img img {
    width: 320px;
    height: 100%;
}

.banner-right {
    width: 55%;
    padding: 3rem;
    color: white;
}

.banner-right .t_user {
    margin-bottom: 1rem;
}

.banner-right .t_user i {
    font-size: 18px;
    margin-right: 10px;
}

.banner-right .t_user span {
    font-size: 17px;
    letter-spacing: 0.6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner-right .banner-txt h2 {
    height: 90px;
    font-size: 2.5rem !important;
    margin-top: 3rem;
    margin-left: -6px;
}

.banner-right b {
    font-size: 18px;
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.banner-right .notlikedEmp {
    display: flex;
    align-items: center;
}

.banner-right span {
    margin-left: 5px;
    font-size: 0.9rem;
    margin-top: 9px;
    font-family: 'Mukta';
}

.banner-right p {
    display: inline-block;
    font-size: 1rem;
    margin-right: 5px;
}