{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Rubik:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
    </style>
</head>

<body>


    <div class="emp-header">
        <header class="container">

            <div class="logo">
                <h2 class="mr-2">
                    <a href="/"> HepsiOrada</a>
                </h2>
            </div>
            {% if request.user.is_authenticated %}
            <div id="User-options">



                <div class="search-form">
                    <form action="/ara" method="GET">

                        <input id="tagss" type="text" placeholder="Aradıgınız ürün , kategori veya markayı yazınız " name="q">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>




                <div id="hesabım">
                    <div id="account_a">
                        <a href="/Account">
                            <img width="24" style="opacity: 0.6;" src="https://img.icons8.com/fluent-systems-regular/100/000000/user.png" />
                            <span class="privatetitle">
                                Hesabım
                            </span>

                        </a>
                    </div>

                    <div id="account_options">
                        <li class="mb-2">
                            <span>
                                {{request.user.username|title}} 
                            </span>

                        </li>
                        <li>
                            <i class="fas fa-box"></i>
                            <a href="/Siparişlerim/">Siparişlerim  </a>
                        </li>


                        <li>
                            <i class="fas fa-user"></i>
                            <a href="/Account/">Kullanıcı Bilgilerim  </a>
                        </li>

                        <li>
                            <i class="fas fa-server"></i>
                            <a href="{% url 'category' %}">Kategoriler </a>

                        </li>

                        <li>
                            <i class="fas fa-clipboard-list"></i>
                            <a href="{% url 'brand' %}">Markalar </a>

                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <a href="{% url 'MyAddresses' %}">Adreslerim </a>

                        </li>
                        <li>
                            <i class="fas fa-question-circle"></i>
                            <a href="{% url 'contact' %}">İletişim </a>
                        </li>

                        <li>
                            <i class="fas fa-door-open"></i>
                            <a href="/customer/logout">Çıkış Yap </a>
                        </li>

                    </div>
                </div>

                <div id="favorilerim">
                    <a href="{% url 'wishlist' %}">

                        <img width="23" height="22" src="https://img.icons8.com/ios/50/000000/like--v1.png" />
                        <span class="pt-2 ml-1 privatetitle">  
                            Favorilerim
                        </span>
                    </a>
                </div>

                <div id="sepetim">

                    <a href="/store/sepetim" class="sepet_a">
                        <img width="24" height="20" src="https://img.icons8.com/ios/50/000000/shopping-cart-loaded--v2.png" /> {% if itemsayısı %}
                        <small class="itemsayısı">{{itemsayısı}}</small> {% else %}
                        <small class="itemsayısı ">0</small> {% endif %}
                        <span class="privatetitle">Sepetim </span>
                    </a>

                </div>
            </div>
            {% else %}



            <div id="User-options">


                <div class="search-form">
                    <form action="/ara" method="GET">

                        <input id="tagss" type="text" placeholder="Aradıgınız ürün , kategori veya markayı yazınız " name="q">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>





                <div id="login-register">

                    <div id="login_g">
                        <a href="{% url 'login' %}">

                            <img width="24" style="opacity: 0.6;" src="https://img.icons8.com/fluent-systems-regular/100/000000/user.png" />

                            <span class="privatetitle">
                                Giriş Yap
                            </span>
                        </a>
                    </div>
                    <div id="log_regis_options">

                        <li class="log_li">
                            <a href="{% url 'login' %}">Giriş Yap  </a>
                        </li>
                        <li class="reg_li">
                            <a href="{% url 'register' %}">Kayıt Ol  </a>
                        </li>

                    </div>


                </div>


                <div id="favorilerim">
                    <a href="{% url 'wishlist' %}">

                        <img width="23" height="22" src="https://img.icons8.com/ios/50/000000/like--v1.png" />
                        <span class="pt-2 ml-1 privatetitle">   Favorilerim </span>
                    </a>
                </div>


                <div id="sepetim">

                    <a href="/store/sepetim" class="sepet_a">
                        <img width="24" height="20" src="https://img.icons8.com/ios/50/000000/shopping-cart-loaded--v2.png" /> {% if itemsayısı %}
                        <small class="itemsayısı">{{itemsayısı}}</small> {% else %}
                        <small class="itemsayısı ">0</small> {% endif %}
                        <span class="privatetitle">Sepetim </span>
                    </a>

                </div>
            </div>
            {% endif %}




        </header>

    </div>



</body>

<script src="/static/js/jquery3.5.1.js"></script>
<script src="/static/js/navbar.js"></script>


</html>