<script src="/static/js/loading.js"></script>

<div id="transition">

    <div class=" transition-effect ">
        <p></p>
        <span></span>

        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>

    </div>
    <div class=" transition-effect ">
        <p></p>
        <span></span>

        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>

    </div>
    <div class=" transition-effect ">
        <p></p>

        <span></span>

        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>


    </div>
    <div class=" transition-effect ">
        <p></p>

        <span></span>

        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>

    </div>
    <div class=" transition-effect ">
        <p></p>

        <span></span>

        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>


    </div>
    <div class=" transition-effect ">
        <p></p>

        <span></span>

        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>


    </div>
    <div class=" transition-effect ">
        <p></p>

        <span></span>

        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>


    </div>
    <div class=" transition-effect ">
        <p></p>

        <span></span>

        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>


    </div>
    <div class=" transition-effect ">
        <p></p>

        <span></span>
        <b></b>
        <pre></pre>
        <nav></nav>
        <a></a>

    </div>
</div>