<script src="/static/js/loading.js"></script>


<div class="Employee">

    {% include "includes/transition.html" %}

    <div class="products-emp">
        {% if products %} {% for product in products %}
        <div class="product-item">
            <div class="product-title">
                <a href="/product/{{product.slug}}"> 
                    {{product.title}}
                </a>
            </div>
            <div class="product-img">
                <a href="/product/{{product.slug}}">
                    <img src="{{product.image.url}}" alt="{{ product.image}} ">
                </a>
            </div>

            <div class="product-price-emp">
                <div class="product-price">
                    <span class="price_1">
                        {{product.oldprice|floatformat:2}}<small>TL</small>
                    </span>
                    <span class="price_2"> 
                        <small> {{product.price|floatformat:2}} TL</small>
                    </span>
                </div>
            </div>

            <button data-action="add" data-product="{{product.id}}" class="ml-3  update-cart"> <i class="fas fa-shopping-cart "></i> Sepete Ekle</button>
        </div>

        {% endfor %} {% else %}
        <div class="alert alert-info "> İlgili bir ürün bulunamadı </div>
        {% endif %}
    </div>




</div>