<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} </title>
</head>

<body style="width:100%;border:transparent solid 5px;display:flex ;justify-content:center">



    <tbody style="margin : 0 auto ;display:flex ; align-items:center ;width:100% ;border: transparent solid 3px !important">
        <tr>
            <td height="50"></td>
        </tr>
        <tr>
            <td style="border: transparent solid 3px ;width:1200px ;    ">

                <table width="600" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border:1px solid #e9ebf1 ;margin : 0 auto ">
                    <tbody style="border: transparent solid 4px;">
                        <tr>
                            <td colspan="3" height="60" bgcolor="#ffffff" style="border-bottom:1px solid #eeeeee;padding-left:16px" align="left">

                                <h3 style="color: #f15d00 ; float :left;text-decoration :none ; font-weight:bolder ;font-size:2rem ;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">Hepsiorada</h3>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" height="20"></td>
                        </tr>
                        <tr>
                            <td width="20"></td>
                            <td align="cen">

                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="text-align:center">
                                                <span style="font-family:Helvetica,Arial,sans-serif;font-weight:bold;font-size:28px;line-height:28px;color:#333333"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">HepsiOrada'ya hoş geldiniz</font></font></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="20"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="1" bgcolor="#eeeeee" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="20"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <p style="font-family:Helvetica,Arial,sans-serif;color:#494747;line-height:140%;text-align:center">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Burada olmandan memnunuz ! </font>
                                                        <font style="vertical-align: inherit;">Milyonlarca ürün secenegiyle </font>
                                                    </font>

                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> size hizmet etmekten memnuniyet duyuyoruz . </font>
                                                        <font style="vertical-align: inherit;">İlk alısverişine ozel kuponlarınız hesabınıza tanımlanmıstır </font>
                                                    </font>

                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;"> Hemen giriş yaparak kuponlarınızı kullanabilirsiniz . </font>
                                                    </font>
                                                </p>
                                                <table width="100%" style="width:100%!important">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">


                                                                <a href="http://127.0.0.1:8000/customer/login/" style="display:inline-block;text-decoration:none;width:150px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://cloud.mongodb.com/email/link/5f7a232aed4e2c53bd6924ac/signIn?url%3D%252Fuser%2523%252Fatlas%252Flogin&amp;source=gmail&amp;ust=1617978290439000&amp;usg=AFQjCNGL7Ydb7EtoAyVbaOcnQtPsyddgNg">
                                                                    <div style="font-family:Helvetica,Arial,sans-serif;width:150px;text-align:center;padding:12px 0;background-color:#FF6000;border:1px solid #517b39;border-radius:8px;display:block;color:#ffffff;font-size:14px;font-weight:normal;text-decoration:none;letter-spacing:normal">
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">Oturum aç</font>
                                                                        </font>
                                                                    </div>
                                                                </a>


                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p style="font-family:Helvetica,Arial,sans-serif;color:#494747;margin:15px 0 0 0;text-align:center"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mevcut bir HepsiOrada hesabınız var mı?</font></font></b></p>




                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" height="20"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="text-align:center">
                                                <span style="font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#cccccc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bu mesaj size Hepsiburada tarafından iletilmiştir. Hepsiburada'dan promosyon ve duyuru mesajı içeren e-posta almak istemiyorsanız, "Üyelik Bilgilerim" sayfasındaki "Kampanyalardan e-postayla haberdar olmak istiyorum" seçeneğinin yanındaki işareti kaldırın. Bilgilerinizi hemen güncellemek için tıklayın </font></font></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="20"></td>
                        </tr>
                        <tr>
                            <td colspan="3" height="20"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="50">

            </td>
        </tr>
    </tbody>
</body>

</html>