{% load static %}


<script src="{% static 'js/jquery3.5.1.js'  %}"></script>

<script src="{% static 'js/filtera.js'  %}"></script>


<div class="Filter-field ">


    <h5>Kategoriler</h5>

    <input type="text" class="cat-input" placeholder="Kategori ara">

    <div class="inclusive">

        {% for item in myFilter.qs %}

        <div class="filter-emp">

            <input class="filter-checkbox " data-filter="category" value="{{cat.category__id}}" name="{{cat.category__title}}" type="checkbox" id="{{cat.category__title}}">
            <label for="{{cat.category__title}}" class="cat_title">
                {{item.category.title}}
             </label>
        </div>
        {{item}} {% endfor %}

    </div>



    <h5>Markalar</h5>
    <input type="text" class="brand-input" placeholder="Marka ara">

    <div class="inclusive">

        {% for brand in brands %}

        <div class="filter-emp">

            <input class="filter-checkbox" data-filter="brand" value="{{brand.brand__id}}" type="checkbox" id="{{brand.brand__title}}">

            <label for="{{brand.brand__title}}" class="brand_title"> 
                {{brand.brand__title}}
             </label>
        </div>
        {% endfor %}

    </div>

    <br>

    <h5>Fiyat aralıgı</h5>

    <div class="price-range">

        <input placeholder="En çok" class="numberInput w-100 pl-2" id="Maxprice" type="number" min="{{minMaxPrice.price__min|floatformat:'0'|add:-1}}" max="{{minMaxPrice.price__max|floatformat:'0'}}">
        <small class="text-danger uyarı"></small><br>
        <span>-</span>
        <input placeholder="En az" class="numberInput2 w-100 pl-2" id="Minprice" type="number" min="{{minMaxPrice.price__min|floatformat:'0'|add:-1}}" max="{{minMaxPrice.price__max|floatformat:'0'}}">
        <button class="FilterpriceBtn "><i class="fas fa-arrow-right"></i></button>
    </div>



    <br><br> {% if colors %}


    <h5>Renkler</h5>
    <div class="inclusive">
        {% for color in colors %} {% if color.color__title %}

        <div class="filter-emp ">
            <input class="filter-checkbox" data-filter="color" value="{{color.color__id}} " type="checkbox" id="{{color.color__title}}">
            <label for="{{color.color__title}}">
                 {{color.color__title}}
            </label>
        </div>
        {% endif %} {% endfor %}

    </div>

    {% endif %} {% if sizes.count != 1 %}

    <h5> Boyutlar</h5>


    <div class="inclusive">

        {% for size in sizes %} {% if size.size__title != None %}


        <div class="filter-emp">
            <input class="filter-checkbox" data-filter="size" value="{{size.size__id}}" type="checkbox" id="a{{size.size__id}}">

            <label for="a{{size.size__id}}">
             {{size.size__title}}
         </label>
        </div>
        {% endif %} {% endfor %}

    </div>

    {% endif %}


</div>