{% extends "base.html" %} {% load static %} {% block title %} En Trend Ürünler Türkiye'nin Online Alışveriş Sitesi HepsiOrada'da {% endblock title %} {% block script %}
<script src="{% static 'js/carta.js'  %}"></script>


<script src="{% static 'js/detail.js'  %}"></script>



{% endblock script %} {% block css %}

<link rel="stylesheet" href="{% static 'css/index.css'   %}">
<link rel="stylesheet" href="{% static 'css/indexfilter.css'   %}"> {% endblock css %} {% block content %} {% include "includes/addproductalert.html" %} {%load crispy_forms_tags %}






<br><br><br>

<h5 class="title_b">
    Süper Fiyat, Süper Teklif

</h5>
<br>

<div class="Employee">


    {% include "includes/transition.html" %}

    <div class="products-emp">
        {% if products %} {% for product in products %}
        <div class="product-item">

            {% if request.user.is_authenticated %}



            <a class="likeBtn" data-id="{{product.id}}"> 
                {% if request.user in product.heart.all %}
                    <i class="fas fa-heart iconheart text-orange "></i>
                    {% else %}
  
                     <img width="27px " src="/media/global/heart.svg" alt="heart like">
                {% endif %}
                                
            </a> {% endif %}


            <div class="product-title">
                <a href="product/{{product.slug}}"> 
                    {{product.title}}
                </a>
            </div>


            <div class="product-img">
                <a href="product/{{product.slug}}">
                    <img src="{{product.image.url}}" alt="{{ product.image}} ">
                </a>
            </div>


            <div class="product-price-emp">
                <div class="product-price">
                    <span class="price_1">
                        {{product.price|floatformat:2}}<small>TL</small>
                    </span>
                    <span class="price_2"> 
                        <small> {{product.oldprice|floatformat:2}} TL</small>
                    </span>
                </div>
            </div>

            <button data-color="{{product.color.all.first}}" data-size="{{product.size.all.first}}" data-action="add" data-product="{{product.id}}" class="ml-3  update-cart"> <i class="fas fa-shopping-cart "></i> Sepete Ekle</button>


        </div>

        {% endfor %} {% else %}
        <div class="alert alert-info "> İlgili bir ürün bulunamadı </div>
        {% endif %}
    </div>




</div>


<br>
<h5 class="title_b">Aradıgın Markalar </h5>

<br>


<div class="Brand-Employee">

    <div class="arrow-prev6">
        <span>
            <i class="fas fa-chevron-left"></i>
        </span>
    </div>

    <div class="brand-emp">

        {% for brand in brands %}

        <div class="brand-wrap">
            <div class="brand-image">
                <a href="/brand-product-list/{{brand.slug}}" style="outline: 0 !important;">
                    <img src="{{brand.image.url}}" alt="{{brand.title}}">
                </a>
            </div>

            <span>
                <b>{{brand.title|title}}</b>
             </span>

        </div>
        {% endfor %}

    </div>

    <div class="arrow-next6">
        <span>
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>


</div>








<br>


<br> {% if liste|length > 3 %}
<hr>
<br>
<h5 class="title_b"> Son Gezdiğiniz Ürünler</h5>
<br>


<div class="lastview-Emp">
    <div class="arrow-prev2">

        <span>          
            <i class="fas fa-chevron-left"></i>
        </span>

    </div>

    <div class="slicky-slider2">
        {% if liste %} {% for ürün in liste %}

        <div class="product-item2">
            <div class="product-img">
                <a href="/product/{{ürün.product.slug}}">

                    <img src="{{ürün.product.image.url}}" alt="{{product.image}} ">
                </a>

            </div>


            <div class="product-price-emp">

                <span class="price_p">
                    {{ürün.product.price}}
                    <small>TL</small>
                </span>
                <span class="price_o">
                    {{ürün.product.oldprice}}
                        TL
                        
                </span>
                <div class="indirim_oranı">

                    {% if ürün.product.discountRate > 10 %} %{{ürün.product.discountRate|floatformat:0}} {% else %} %{{ürün.product.discountRate|floatformat:0}} {% endif %}

                </div>

            </div>
            <div class="product-title">
                <a href="/product/{{ürün.product.slug}}">
                    {{ürün.product.title}}
                </a>
            </div>
        </div>

        {% endfor %} {% endif %}


    </div>
    <div class="arrow-next2">
        <span>
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>
</div>



{% if allHearts %}



<hr>

<br>


<h5 class="title_b">Beğendiklerinize özel</h5>
<br>
<div class="user_hearts_emp">

    <div class="arrow-prev5">

        <span>
            <i class="fas fa-chevron-left"></i>
        </span>

    </div>
    <div class="product_wrap">

        {% for product in allHearts %}

        <div class="product_p">
            <div class="product_title">

                {% if product.title|length > 70 %}
                <span>
                        {{product.title|truncatechars:70}}
                    </span> {% else %}
                <span>{{product.title}}</span> {% endif %}


            </div>
            <div class="product_img">
                <a href="/product/{{product.slug}}">

                    <img src="{{product.image.url}}" alt="{{product.title}}" width="120" height="100">

                </a>

            </div>

            <div class="product_price">

                <span>{{product.price}} <small>TL</small></span>
            </div>
            <div class="product_oldprice">
                <span>{{product.oldprice}} TL</span>

            </div>

            <button data-color="{{product.color.all.first}}" data-size="{{product.size.all.first}}" data-action="add" data-product="{{product.id}}" class="ml-3 add-btn update-cart"> <i class="fas fa-shopping-cart "></i> Sepete Ekle</button>

        </div>
        {% endfor %}

    </div>

    <div class="arrow-next5">
        <span>
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>


</div>

{% endif %}


<br> {% endif %}

<br><br>{% endblock content %}
