{% extends "base.html" %} {% load static %} {% block title %} {{request.GET.q}} - HepsiOrada {% endblock title %} {% block script %}
<script src="{% static 'js/carta.js'  %}"></script>
{% endblock script %} {% block css %}
<link rel="stylesheet" href="{% static 'css/index.css'   %}"> {% endblock css %} {% block content %} {% include "includes/addproductalert.html" %}




<br><br> {% if request.GET.q %}
<p style="font-family: 'RocknRoll One', sans-serif;" class="search-result"><b> {{request.GET.q}} </b> ile ilgili <span> {{products.count}}   </span> tane ürün bulduk</p>
<br> <br>{% else %}
<h3 style="font-family: 'RocknRoll One', sans-serif; text-align :center">Süper Fiyat, Süper Teklif</h3>
<br> {% endif %}


<div class="Employee">

    {% include "filters.html" %} {% include "includes/transition.html" %}

    <div class="products-emp">
        {% if products %} {% for product in products %}
        <div class="product-item">
            <div class="product-title">
                <a href="/product/{{product.slug}}"> 
                    {{product.title}}
                </a>
            </div>
            <div class="product-img">
                <a href="/product/{{product.slug}}">
                    <img src="{{product.image.url}}" alt="{{ product.image}} ">
                </a>
            </div>

            <div class="product-price-emp">
                <div class="product-price">
                    <span class="price_1">
                        {{product.oldprice|floatformat:2}}<small>TL</small>
                    </span>
                    <span class="price_2"> 
                        <small> {{product.price|floatformat:2}} TL</small>
                    </span>
                </div>
            </div>

            <button data-action="add" data-product="{{product.id}}" class="ml-3  update-cart"> <i class="fas fa-shopping-cart "></i> Sepete Ekle</button>
        </div>

        {% endfor %} {% else %}

        <div>
            <b>"{{request.GET.q}}"</b>
            <span>ile ilgili sonuç bulunamamıştır </span>
        </div>

        {% endif %}
    </div>




</div>

<br> {% if liste|length > 3 %}


<h4 class="pl-4">En Son Gezdiğiniz Ürünler</h4>




<div class="lastview-Emp">
    <div class="arrow-prev2">

        <span> <i class="fas fa-angle-double-left"></i></span>

    </div>

    <div class="slicky-slider2">
        {% if liste %} {% for ürün in liste %}

        <div class="product-item2">
            <div class="product-img">
                <a href="/product/{{ürün.product.slug}}">

                    <img src="{{ürün.product.image.url}}" alt="{{product.image}} ">
                </a>

            </div>
            <div class="product-title">
                <a href="/product/{{ürün.product.slug}}" style="font-size: 0.9rem;opacity : 0.7 ;font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"> 
        
                
                {% if ürün.product.title|length > 25  %}
                {{ürün.product.title|truncatechars:25}}

                {% else %}
                {{ürün.product.title}}
                {% endif %}
                    
                </a>

            </div>

            <div class="product-price-emp" style="display:flex ;justify-content:space-evenly !important">

                <h6 style="opacity: 0.2;  text-decoration: line-through;" class="text-center ">
                    {{ürün.product.oldprice}}
                </h6>
                <h6 style="font-weight: bold ;">
                    <span style="color: rgb(218, 143, 6);">
                        {{ürün.product.price}}

                    </span>
                </h6>


            </div>


        </div>

        {% endfor %} {% else %}

        <div class="alert alert-info" style="width: 100% !important">
            <h6>
                Son goruntulenen bir ürün yok

            </h6>
        </div>
        {% endif %}



    </div>
    <div class="arrow-next2">
        <span>
        <i class="fas fa-angle-double-right"></i>
        </span>
    </div>
</div>

{% endif %} {% endblock content %}