{% extends 'base.html' %} {% load static %} {% block css %}

<link rel="stylesheet" href="/static/css/register.css"> {% endblock css %} {% block script %}

<script src="/static/js/register.js"></script>

{% endblock script %} {% block content %}


<div class="emp2">

    <h2 class="logo_h">
        <a href="/">
            HepsiOrada
        </a>
    </h2>

    <div class="form-wrapper">

        <div class="form-header">

            <span> 
            <a href="/customer/login" style="color: black;text-decoration :none;opacity:0.8">
                Giriş yap
            </a>
            </span>
            <span> 
                    Kayıt ol
            </span>
        </div>


        <h5 class="text_t">E-posta adresi ile üye ol
            <span></span>
        </h5>

        <form method="post">
            <i class="fas fa-exclamation-triangle icon1"></i>
            <i class="fas fa-exclamation-triangle icon4"></i>
            <i class="fas fa-eye icon2"></i>
            <i class="far fa-eye-slash icon3"></i> {% csrf_token %} {{form}}

            <button type="button" id="registerBtn">Kayıt Ol  </button>

        </form>


    </div>

</div>
{% endblock content %}