{% extends "base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %} {% if not request.user.is_authenticated %}
<br><br><br> {% endif %}
<div class="emp3">
    <div class="form-head">
        <h4>
            Üyelik Bilgilerim Güncelle
        </h4>
    </div>

    <div class="form-wrapper">

        <br>
        <form method="POST" class="form_m ">
            {% csrf_token %} {{user_form|crispy}} {{profile_form|crispy}}

            <button type="submit" id="saveBtn">Kaydet</button>

        </form>

    </div>

    <br>

</div>

{% endblock content %} {% block css %}

<link rel="stylesheet" href="{% static 'css/updateProfile.css' %}"> {% endblock css %} {% block script %}
<script src="{% static 'js/updateProfile.js' %}"></script>


{% endblock script %}